<div class="app-loader">Loading...</div>
<div class="todo-lists">
  <div class="todo-list">
    <div class="list-name-header">
      Phase 4 List
    </div>
    <div class="completed-list left-column">
      <div class="list-status-header">
        Completed
      </div>
      <div class="todo-items">
        <div class="todo-item">item 1</div>
        <div class="todo-item">item 2</div>
      </div>
    </div>
    <div class="right-column">
      <div class="wip-list">
        <div class="list-status-header">
          WIP
        </div>
        <div class="todo-items">
          <div class="todo-item">item 1</div>
          <div class="todo-item">item 2</div>
        </div>
      </div>
      <div class="incomplete-list">
        <div class="list-status-header">
          Upcoming
        </div>
        <div class="todo-items">
          <div class="todo-item">item 1</div>
          <div class="todo-item">item 2</div>
        </div>
      </div>
    </div>
    <div class="todo-creator">
      <input type="text">
    </div>
  </div>

  <div class="todo-list">
    <div class="list-name-header">
      Phase 4 List 2
    </div>
    <div class="completed-list left-column">
      <div class="list-status-header">
        Completed
      </div>
      <div class="todo-items">
        <div class="todo-item">item 1</div>
        <div class="todo-item">item 2</div>
      </div>
    </div>
    <div class="right-column">
      <div class="wip-list">
        <div class="list-status-header">
          WIP
        </div>
        <div class="todo-items">
          <div class="todo-item">item 1</div>
          <div class="todo-item">item 2</div>
        </div>
      </div>
      <div class="incomplete-list">
        <div class="list-status-header">
          Upcoming
        </div>
        <div class="todo-items">
          <div class="todo-item">item 1</div>
          <div class="todo-item">item 2</div>
        </div>
      </div>
    </div>
    <div class="todo-creator">
      <input type="text">
    </div>
  </div>
</div>
