<div class="todo-lists">
  <div class="todo-list">
    <div class="list-name-header">
    </div>
    <div class="completed-list left-column">
      <div class="todo-items">
        <div class="todo-item"></div>
      </div>
    </div>
    <div class="right-column">
      <div class="wip-list">
        <div class="list-status-header">
        </div>
        <div class="todo-items">
          <div class="todo-item"></div>
        </div>
      </div>
      <div class="incomplete-list">
        <div class="list-status-header">
        </div>
        <div class="todo-items">
          <div class="todo-item"></div>
        </div>
      </div>
    </div>
    <div class="todo-creator">
    </div>
  </div>
</div>
