<div class="todo-lists">
  {{#lists}}
    {{{.}}}
  {{/lists}}
</div>

<div class="list-creator">
  <form action="{{createListEndpoint}}" method="post">
    <input type="text" name="name" placeholder="new todo list">
  </form>
</div>
